apiVersion: metal3.io/v1alpha1
kind: HardwareClassification
metadata:
  name: hardwareclassification-sample
  namespace: metal3
  labels:
    hardwareclassification-sample: matches
spec:
  hardwareCharacteristics:
    cpu:
      minimumCount: 48
      maximumCount: 72
      minimumSpeedMHz: 2600
      maximumSpeedMHz: 3600
    disk:
      minimumCount: 1
      maximumCount: 8
      minimumIndividualSizeGB: 200
      maximumIndividualSizeGB: 3000
    ram:
      minimumSizeGB: 6
      maximumSizeGB: 180
    nic:
      minimumCount: 1
      maximumCount: 7 
