
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.0
  creationTimestamp: null
  name: hardwareclassifications.metal3.io
spec:
  additionalPrinterColumns:
  - JSONPath: .status.profileMatchStatus
    description: Profile Match Status
    name: ProfileMatchStatus
    type: string
  - JSONPath: .status.errorMessage
    description: Most recent error
    name: Error
    type: string
  group: metal3.io
  names:
    kind: HardwareClassification
    listKind: HardwareClassificationList
    plural: hardwareclassifications
    shortNames:
    - hwc
    - hc
    singular: hardwareclassification
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: HardwareClassification is the Schema for the hardwareclassifications API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: HardwareClassificationSpec defines the desired state of HardwareClassification
          properties:
            hardwareCharacteristics:
              description: HardwareCharacteristics defines expected hardware configurations for Cpu, Disk, Nic and Ram.
              properties:
                cpu:
                  description: Cpu contains cpu details extracted from the hardware profile
                  properties:
                    maximumCount:
                      description: MaximumCount of cpu should be greater than 0 and greater than MinimumCount Ex. MaximumCount > 0 && MaximumCount > MinimumCount
                      minimum: 1
                      type: integer
                    maximumSpeedMHz:
                      description: 'Maximum speed of cpu should be greater than 0 and greater than MinimumSpeed Ex. MaximumSpeed > 0 && MaximumSpeed > MinimumSpeed Ex. MaximumSpeed: 3200 User wants CPU speed 3.2 (in GHz), then he should specify as 3200 MHz'
                      format: int32
                      minimum: 1000
                      type: integer
                    minimumCount:
                      description: MinimumCount of cpu should be greater than 0 Ex. MinimumCount > 0
                      minimum: 1
                      type: integer
                    minimumSpeedMHz:
                      description: 'MinimumSpeed of cpu should be greater than 0 Ex. MinimumSpeed > 0 Ex. MinimumSpeed: 2600 User wants CPU speed 2.6 (in GHz), then s/he should specify as 2600 MHz'
                      format: int32
                      minimum: 1000
                      type: integer
                  type: object
                disk:
                  description: Disk contains disk details extracted from the hardware profile
                  properties:
                    maximumCount:
                      description: MaximumCount of disk should be greater than 0 and greater than MinimumCount Ex. MaximumCount > 0 && MaximumCount > MinimumCount
                      minimum: 1
                      type: integer
                    maximumIndividualSizeGB:
                      description: Maximum individual size should be greater than 0 and greater than MinimumIndividualSizeGB Ex. MaximumIndividualSizeGB > 0 && MaximumIndividualSizeGB > MinimumIndividualSizeGB
                      format: int64
                      minimum: 1
                      type: integer
                    minimumCount:
                      description: MinimumCount of disk should be greater than 0 MinimumCount > 0
                      minimum: 1
                      type: integer
                    minimumIndividualSizeGB:
                      description: MinimumIndividualSizeGB should be greater than 0 Ex. MinimumIndividualSizeGB > 0
                      format: int64
                      minimum: 1
                      type: integer
                  type: object
                nic:
                  description: Nic contains nic details extracted from the hardware profile
                  properties:
                    maximumCount:
                      description: Maximum count should be greater than 0 and greater than MinimumCount Ex. MaximumCount > 0 && MaximumCount > MinimumCount
                      minimum: 1
                      type: integer
                    minimumCount:
                      description: Minimum count should be greater than 0 Ex. MinimumCount > 0
                      minimum: 1
                      type: integer
                    nicSelector:
                      description: Nic contains nic details extracted from the hardware profile
                      properties:
                        vendor:
                          description: optional
                          items:
                            type: string
                          type: array
                      type: object
                  type: object
                ram:
                  description: Ram contains ram details extracted from the hardware profile
                  properties:
                    maximumSizeGB:
                      description: MaximumSizeGB should be greater than 0 or greater than MinimumSizeGB Ex. MaximumSizeGB > 0 && MaximumSizeGB > MinimumSizeGB
                      minimum: 1
                      type: integer
                    minimumSizeGB:
                      description: MinimumSizeGB of Ram should be greater than 0 Ex. MinimumSizeGB > 0
                      minimum: 1
                      type: integer
                  type: object
              type: object
          type: object
        status:
          description: HardwareClassificationStatus defines the observed state of HardwareClassification
          properties:
            errorMessage:
              description: The last error message reported by the hardwareclassification system
              type: string
            errorType:
              description: ErrorType indicates the type of failure encountered
              type: string
            profileMatchStatus:
              description: ProfileMatchStatus identifies whether a applied profile is matches or not
              type: string
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
